# VS / .NET
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build artifacts
bin/
obj/
[TestResults]/
*.trx
*.coverage*
*.testsettings
*.runsettings

# Rider/VSCode (optional)
.idea/
.vscode/

# OS junk
Thumbs.db
.DS_Store
